@charset "UTF-8";

body {
    background: #333;
    font-family: 'Signika', sans-serif;
}

.main-wrap {
    background: #f5f5f5;
    padding-bottom: 100px;;
}
.main {
    width: 800px;
    margin: auto;
}

h1 {
    border-bottom: solid 1px #999;
    margin: 0;
    font-size: 72px;
    color: #333;
}
h2 {
    margin: 10px 0 25px 0;
    font-size: 15px;
}
h3 {
    font-size: 14px;
}

.source {
    background: #d5d5d5;
    border: solid 2px #bbb;
    border-radius: 4px;
    margin: 10px 0;
    padding: 10px;
    font-size: 16px;
    font-family: cursive;
    color: #333;
}

#footer {
    height: 150px;
}
#footer p {
    margin: 0;
    padding: 10px;
    background: #222;
    color: #fff;
    font-size: 13px;
    text-align: center;
}

